<h2>{L_RSP}</h2>
<div id="tabs" class="sub-panels" data-show-panel="ress-panel-1" role="tablist">
	<ul>
		<li id="ress-panel-1-tab" class="tab activetab"><a href="#tabs" data-subpanel="ress-panel-1" role="tab" aria-controls="ress-panel-1"><span>{L_RESS_BEREICH_1}</span></a></li>
		<li id="ress-panel-2-tab" class="tab"><a href="#tabs" data-subpanel="ress-panel-2" role="tab" aria-controls="ress-panel-2"><span>{L_RESS_BEREICH_2}</span></a></li>
		<li id="ress-panel-3-tab" class="tab"><a href="#tabs" data-subpanel="ress-panel-3" role="tab" aria-controls="ress-panel-3"><span>{L_RESS_BEREICH_3}</span></a></li>
		<li id="ress-panel-4-tab" class="tab"><a href="#tabs" data-subpanel="ress-panel-4" role="tab" aria-controls="ress-panel-4"><span>{L_RESS_BEREICH_4}</span></a></li>
		<li id="ress-panel-5-tab" class="tab"><a href="#tabs" data-subpanel="ress-panel-5" role="tab" aria-controls="ress-panel-5"><span>{L_RESS_BEREICH_5}</span></a></li>
		<li class="tab responsive-tab dropdown-container" style="display:none;"><a href="javascript:void(0);" class="responsive-tab-link dropdown-toggle">&nbsp;</a><div class="dropdown tab-dropdown" style="display: none;"><div class="pointer"><div class="pointer-inner"></div></div><ul class="dropdown-contents"></ul></div></li></ul>
	</ul>
</div>

<div class="panel">
	<div class="inner">
	<h3>{L_RSP_RESSOURCEN}</h3>

<div id="ress-panel-1">
	<!-- BEGIN ress_1_block -->
	<div style="float:left;width: 9%;text-align:center;font-size:12px;"><img src="{ress_1_block.RESS_URL}" width="60" height="27" /><br /> {ress_1_block.NAME}<br />{ress_1_block.MENGE}</div>

	<!-- END ress_1_block -->
</div>
<div id="ress-panel-2">
	<!-- BEGIN ress_2_block -->
	<div style="float:left;width: 9%;text-align:center;font-size:12px;"><img src="{ress_2_block.RESS_URL}" width="60" height="27" /><br />{ress_2_block.NAME}<br />{ress_2_block.MENGE}</div>

	<!-- END ress_2_block -->
</div>
<div id="ress-panel-3">
	<!-- BEGIN ress_3_block -->
	<div style="float:left;width: 10%;text-align:center;font-size:12px;"><img src="{ress_3_block.RESS_URL}" width="60" height="27" /><br />{ress_3_block.NAME}<br />{ress_3_block.MENGE}</div>

	<!-- END ress_3_block -->
</div>
<div id="ress-panel-4">
	<!-- BEGIN ress_4_block -->
	<div style="float:left;width: 20%;text-align:center;font-size:12px;"><img src="{ress_4_block.RESS_URL}" width="60" height="27" /><br />{ress_4_block.NAME}<br />{ress_4_block.MENGE}</div>

	<!-- END ress_4_block -->
</div>
<div id="ress-panel-5">
	<!-- BEGIN ress_5_block -->
	<div style="float:left;width: 16%;text-align:center;font-size:12px;"><img src="{ress_5_block.RESS_URL}" width="60" height="27" /><br />{ress_5_block.NAME}<br />{ress_5_block.MENGE}</div>

	<!-- END ress_5_block -->
</div>
	<br style="clear:both;" /><br/>
		</div>
</div>
